/* Global */
/* 
  Paul Irish's Box-Sizing Border Box Fix
*/
html {
  box-sizing: border-box;
}
* *::before *::after {
  box-sizing: inherit;
}

* {
  color: black;
  background-color: white;
}

.content-wrapper {
  max-width: fit-content;
}
.bold {
  font-weight: bold;
}
footer {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-top: auto;
}
.navigation nav ul {
  list-style-type: none;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;

  overflow: hidden;
  background-color: #0430c0;
  border: solid #fcbd00 7px;
}
.navigation nav ul li {
  float: left;
}

.navigation nav ul li a {
  background-color: #0430c0;
  display: block;
  text-align: center;
  padding: 16px;
  font-weight: bold;
  font-size: 25px;
  -webkit-text-stroke-color: #cdbc4d;
  -webkit-text-stroke-width: 0.8px;
}
.navigation nav ul li a:hover {
  background-color: rgb(58, 129, 235);
}
#aboutus {
  float: right;
  margin-left: auto;
  margin-right: 0px;
}

/* Home */

.intro {
  font-family: sans-serif;
}
.intro h1 {
  font-size: 40px;
  padding: 0px;
  border-bottom: 0px;
}
.intro h2 {
  border-top: 0px;
  margin-top: -30px;
  padding-top: 0px;
  color: gray;
  font-weight: lighter;
  font-size: 20px;
}
#UCR {
  float: right;
  padding-top: auto;
  margin-top: -50px;
  margin-left: auto;
  margin-right: 0;
}


/* Team Members */

/* Projects */

/* About Us */