<nav>
  <ul>
    <li><a href="./">Home</a></li>
    <li>
      <a href="./pages/teammembers/">Team Members</a>
      <ul class="dropdown content-wrapping">
        <li><a href="./pages/teammembers/luis-bojorquez/">Luis Bojorquez</a></li>
        <li><a href="./pages/teammembers/ryan-hoang/">Ryan Hoang</a></li>
        <li><a href="./pages/teammembers/jacob-kantor/">Jacob Kantor</a></li>
      </ul>
    </li>
    <li>
      <a href="./pages/resources/">Resources</a>
      <ul class="dropdown content-wrapping"> <!-- Maxmimum should be 4 of the most used resources  -->
        <li></li>
      </ul>
    </li>
    <li>
      <a href="./pages/projects/">Projects</a> <!-- Maximum for dropdown should be 4, please be mindful -->
      <ul class="dropdown content-wrapping">
        <li></li>
      </ul>
    </li>
    <li class="aboutus"><a href="./pages/aboutus/">About Us</a></li>
  </ul>
</nav>